@{
    ViewData["Title"] = "Project List";
}


<script src="~/js/View/Project/index.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        ProjectList.onInit({
            addFormURL: '@Url.Action("Index", "ProjectForm")',
            addEditURL: '@Url.Action("EditProject", "Project")',
            jqGridDataURL: '@Url.Action("ProjectBlockFetch", "Project")',
            jqGridColumnURL: '@Url.Action("GetProjectColumnNames", "Project")'
        });
    });
</script>

<div class="row white-bg" style="padding-top: 8px; padding-bottom: 8px;">

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h3>Project List</h3>
        </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12  text-center">
        <div class="col-xs-12 col-sm-12 col-md-10 col-lg-9 paddlftrght-none" style="overflow: hidden; margin: 0 auto; display: inline-block; float: none;">
            <div style="overflow: hidden;">
                <div class="toolbarOuter" style="padding: 0 15px; display: inline-block;">
                    <span class="nextBtn" id="spanrightTemplateList"><span class="spanBgGrey"><span class="glyphicons glyphicons-chevron-right"></span></span></span>
                    <span id="spanleftDTList" class="xsBtn prevBtn"><span class="glyphicons glyphicons-chevron-left"></span></span>
                    <ul id="ProjectFlexi" class="icon-inlinb">
                        <li>
                            <a href="javascript:void(0);" id="RefreshProject" title="Refresh"><span class="glyphicons glyphicons-refresh"></span><div class="toolbarlabel">Refresh</div></a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" id="AddProject" title="Add"><span class="glyphicons glyphicons-plus"></span><div class="toolbarlabel">Add</div></a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" id="EditProject" title="Edit"><span class="glyphicons glyphicons-edit"></span><div class="toolbarlabel">Edit</div></a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" id="AddForm" title="Add Form"><span class="glyphicons glyphicons-file"></span><div class="toolbarlabel">Form</div></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="jqgrid-table">
            <table id="tblProjectList"></table>
            <div id="pagerProjectList"></div>
        </div>
    </div>
</div>